<!-- src/app/app.component.html -->
<nav>
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <!-- Menu item for HPMS module -->
    <li><a routerLink="/hpms">HPMS Module</a></li>
    <!-- Menu item for Group ID component -->
    <li><a routerLink="/hpms/group-id">Group ID</a></li>
    <!-- Menu item for Line ID component -->
    <li><a routerLink="/hpms/line-id">Line ID</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>